rootfs/home/trixie/source/melonDS/build/
rootfs/home/trixie/source/melonDS/build_wsl/
rootfs/home/trixie/source/qjoypad/build/
rootfs/tmp/
sanitize_sd_image.ps1
backups/
rootfs/home/trixie/source/glide3x-native/references/
/rootfs/home/trixie/source/glide3x-native/.vs
/rootfs/home/trixie/source/glide3x-native/textures
