[Desktop Entry]
Type=Application
Name=Context OSK
Comment=Virtual Keyboard
Exec=/usr/local/bin/context-osk
Icon=input-keyboard
Terminal=false
Categories=Utility;Accessibility;
