[Desktop Entry]
Name=DOSBox-X PC98
Comment=DOS Emulator (PC98)
Exec=/home/trixie/.local/bin/dosbox-launch-pc98.sh
Icon=dosbox-x
Terminal=false
Type=Application
Categories=X-PC;
