[Desktop Entry]
Name=Dreamcast [Flycast]
Comment=Dreamcast Emulator
Exec=/usr/local/games/flycast/flycast
Icon=flycast
Terminal=false
Type=Application
Categories=X-Sega;
