[Desktop Entry]
Name=Saturn [Kronos]
Comment=Saturn Emulator
Exec=/usr/local/games/kronos/kronos
Icon=kronos
Terminal=false
Type=Application
Categories=X-Sega;
