[Desktop Entry]
Type=Application
Exec=lxqt-config-session
Icon=preferences-system-session-services
Categories=Settings;DesktopSettings;Qt;LXQt;
OnlyShowIn=LXQt;

Name=Session Settings
GenericName=Configure LXQt session
Comment=Select window manager, modules, autostart applications, screensaver and else
Comment[ar]=حدد مدير النوافذ والوحدات النمطية وتطبيقات التشغيل التلقائي وشاشة التوقف وغير ذلك
GenericName[ar]=إعدادات LXQt للجلسات
Name[ar]=إعدادات الجلسات
Name[bg]=Настройки на сесията
GenericName[bg]=Настройки на сесията на LXQt
Comment[bg]=Избиране на мениджър на прозорци, модули, приложения за автоматично стартиране, скрийнсейвър и други
Name[ca]=Ajusts de la sessió
GenericName[ca]=Ajusts de la sessió d'LXQt
Comment[ca]=Seleccioneu el gestor de finestres, els mòduls, les aplicacions d'inici automàtic, el protector de pantalla i més coses
Comment[cs]=Nastavení pro LXQt sezení
GenericName[cs]=Nastavení LXQt sezení
Name[cs]=Nastavení sezení
Name[da]=Sessionsindstillinger
GenericName[da]=Indstilling af LXQt-session
Comment[da]=Vælg vindueshåndtering, moduler, autostart-programmer, pauseskærm og andet
Name[de]=Sitzungskonfiguration
GenericName[de]=LXQt Sitzungskonfiguration
Comment[de]=Auswahl von Fenstermanager, Modulen, Autostart-Anwendungen, Bildschirmschonern und mehr
Name[el]=Ρυθμίσεις συνεδρίας
GenericName[el]=Διαμόρφωση συνεδρίας του LXQt
Comment[el]=Επιλογή διαχειριστή παραθύρων, λειτουργικών μονάδων, εφαρμογών αυτόματης εκκίνησης, προφύλαξης οθόνης και άλλων
Comment[eo]=Agordi modulon de seanco de LXQt
GenericName[eo]=Agordilo de seanco de LXQt
Name[eo]=Agordilo de seanco de LXQt
Name[es]=Configuración de la sesión
GenericName[es]=Configure la sesión de LXQt
Comment[es]=Seleccione gestor de ventana, módulos, aplicaciones de inicio automático, salvapantallas y demás
Comment[es_VE]=Configuracion de modulo de LXQt
GenericName[es_VE]=Configuracion de sesion de LXQt
Name[es_VE]=Configuracion de sesion de LXQt
Name[et]=Sessioonihaldus
GenericName[et]=Seadista LXQt sessiooni
Comment[et]=Vali aknahaldur, lisamoodulid, automaatselt käivitatavad rakendused, ekraanisäästja ja palju muud
Comment[eu]=LXQt saioen konfigurazioa
GenericName[eu]=LXQt saioaren ezarpenak
Name[eu]=Saioaren ezarpenak
Comment[fi]=Määritä ikkunanhallinta, moduulit, automaattikäynnistyvät sovellukset, näytönsäästäjä ja paljon muuta
GenericName[fi]=Määritä LXQt-istunto
Name[fi]=Istunnon asetukset
Comment[fr]=Sélectionner le gestionnaire de fenêtres, les modules, les applications au démarrage, l'économiseur d'écran et autres
GenericName[fr]=Configurer la session LXQt
Name[fr]=Paramétreur de session LXQt
Name[he]=הגדרות הפעלה
GenericName[he]=הגדרת הפעלה ב־LXQt
Comment[he]=בחירת מנהל חלונות, מודולים, יישומים להפעלה אוטומטית, שומר מסך ועוד
Name[hr]=Sesija – Postavke
GenericName[hr]=Konfiguriraj LXQt sesiju
Comment[hr]=Odaberi upravljač prozora, module, aplikacije za automatsko pokretanje, zaštitu ekrana i ostalo
Comment[hu]=Az LXQt munkamenet beállítása
GenericName[hu]=LXQt munkamenetbeállítások
Name[hu]=Munkamenet
Comment[id_ID]=Konfigurasi modul sesi LXQt
GenericName[id_ID]=Konfigurator Sesi LXQt
Name[id_ID]=Konfigurator Sesi LXQt
Name[it]=Impostazioni della sessione
GenericName[it]=Configura la sessione di LXQt
Comment[it]=Seleziona il gestore delle finestre, i moduli, le applicazioni di avvio automatico, lo salvaschermo e altro
Name[ja]=セッション設定
GenericName[ja]=LXQt セッションの設定
Comment[ja]=ウィンドウマネージャー、モジュール、自動起動アプリケーション、スクリーンセーバーなどを選択します
Name[ko]=세션 설정
GenericName[ko]=LXQt 세션 구성하기
Comment[ko]=창 관리자, 모듈, 자동시작 응용프로그램, 화면보호기 등을 선택합니다
Name[lg]=Enteekateeka z'entuula
GenericName[lg]=Teekateeka olutuula lwa LXQt
Comment[lg]=Londa ekiteekateekamadirisa, obusobozi obw'enyongeza, puloguramu ezitandikirawo, ekisaanikirawakolerwa n'ebirala
Comment[lt]=Pasirinkti langų tvarkytuvę, modulius, automatiškai paleidžiamas programas, ekrano užsklandą ir kt.
GenericName[lt]=Konfigūruoti LXQt seansą
Name[lt]=Seanso nustatymai
Name[nb_NO]=Øktinnstillinger
GenericName[nb_NO]=LXQt-øktinnstillinger
Comment[nb_NO]=Velg vindushåndterer, moduler, autostartprogrammer, skjermsparer og annet
Comment[nl]=Stel de LXQt-vensterbeheerder en -modules in, evenals automatisch opstarten en schermbeveiliging
GenericName[nl]=LXQt-sessie instellen
Name[nl]=Sessie-instellingen
Name[oc]=Paramètres de session LXQt
GenericName[oc]=Configurar le session LXQt
Comment[oc]=Seleccionar lo gestionari de fenèstra, los moduls, las aplicacions a l’aviada, l’estalviador d’ecran e encara mai
Name[pa]=ਸ਼ੈਸ਼ਨ ਸੈਟਿੰਗਾਂ
GenericName[pa]=LXQt ਸ਼ੈਸਨ ਦੀ ਸੰਰਚਨਾ
Comment[pa]=LXQt ਸ਼ੈਸ਼ਨਾਂ ਲਈ ਸੰਰਚਨਾ
Comment[pl]=Wybór menedżera okien, modułów, aplikacji autostartu, wygaszacza ekranu i innych
GenericName[pl]=Konfigurowanie sesji LXQt
Name[pl]=Ustawienia sesji
Name[pt]=Definições da sessão
GenericName[pt]=Configurar a sessão do LXQt
Comment[pt]=Selecionar o gestor de janelas, os módulos, as aplicações de arranque automático, o protetor de ecrã e outros
Comment[pt_BR]=Configuração para sessões do LXQt
GenericName[pt_BR]=Configurações de sessão do LXQt
Name[pt_BR]=Configurações de Sessão
Comment[ro_RO]=Configurează modulul sesiune LXQt
GenericName[ro_RO]=Configurare sesiune LXQt
Name[ro_RO]=Configurare sesiune LXQt
Comment[ru]=Выбор оконного менеджера, модулей, приложений для автозапуска, хранителя экрана и другого
GenericName[ru]=Настроить сеанса LXQt
Name[ru]=Настройки сеанса
Comment[sk]=Nastavenie relácie prostredia LXQt
GenericName[sk]=Nastavenie relácie prostredia LXQt
Name[sk]=Nastavenie relácie
Comment[sl]=Nastavite modul seje za LXQt
GenericName[sl]=Nastavitev seje
Name[sl]=Nastavitev seje
Comment[sr]=Подесите Рејзоров модул сесије
GenericName[sr]=Подешавање сесије
Name[sr]=Подешавање сесије Рејзора
Name[sr@ijekavian]=Подешавање сесије Рејзора
Comment[sr@ijekavian]=Подесите Рејзоров модул сесије
GenericName[sr@ijekavian]=Подешавање сесије
Name[sr@ijekavianlatin]=Podešavanje sesije Rejzora
Comment[sr@ijekavianlatin]=Podesite Rejzorov modul sesije
GenericName[sr@ijekavianlatin]=Podešavanje sesije
Comment[sr@latin]=Podesite Rejzorov modul sesije
GenericName[sr@latin]=Podešavanje sesije
Name[sr@latin]=Podešavanje sesije Rejzora
Comment[th_TH]=ตั้งค่ามอดูลวาระงาน LXQt
GenericName[th_TH]=ตัวตั้งค่าวาระงาน LXQt
Name[th_TH]=ตัวตั้งค่าวาระงาน LXQt
Comment[tr]=Pencere yöneticisini, modülleri, otomatik başlatma uygulamalarını, ekran koruyucuyu ve diğerlerini seçin
GenericName[tr]=LXQt Oturum Yapılandırıcı
Name[tr]=LXQt Oturum Yapılandırıcı
Comment[uk]=Вибір віконного менеджера, модулів, застосунків з автозапуском, заставки та іншого
GenericName[uk]=Конфігурування сеансу LXQt
Name[uk]=Налаштування сеансу LXQt
Name[vi]=Cài đặt Phiên
GenericName[vi]=Cài đặt Phiên LXQt
Comment[vi]=Tinh chỉnh phiên LXQt
Comment[zh_CN]=配置 LXQt 会话模块
GenericName[zh_CN]=LXQt 会话配置
Name[zh_CN]=会话配置
Comment[zh_TW]=LXQt會話模組設定
GenericName[zh_TW]=LXQt會話設定
Name[zh_TW]=會話設定
NoDisplay=true
