[Desktop Entry]
Type=Application
Exec=lxqt-config-monitor
Icon=preferences-desktop-display
Categories=Settings;DesktopSettings;Qt;LXQt;HardwareSettings;
OnlyShowIn=LXQt;

Name=Monitor
GenericName=Monitor Settings
Comment=Configure monitors
Name[ar]=الشّاشة
GenericName[ar]=إعدادات الشّاشة
Comment[ar]=اضبط الشّاشات
Name[bg]=Монитор
GenericName[bg]=Настройки на монитор
Comment[bg]=Конфигуриране на резолюция и външни монитори
Name[ca]=Monitor
GenericName[ca]=Ajusts del monitor
Comment[ca]=Configureu els monitors
Name[cs]=Nastavení monitoru
GenericName[cs]=Nastavení monitoru
Comment[cs]=Nastavování monitorů
Name[da]=Skærm
GenericName[da]=Skærmindstillinger
Comment[da]=Indstil skærme
Name[de]=Bildschirmeinstellungen
GenericName[de]=Bildschirmeinstellungen
Comment[de]=Bildschirmauflösung und externe Monitore konfigurieren
Name[el]=Οθόνη
GenericName[el]=Ρυθμίσεις οθόνης
Comment[el]=Διαμόρφωση οθονών
Name[en_GB]=Monitor
GenericName[en_GB]=Monitor Settings
Comment[en_GB]=Configure monitors
Name[es]=Monitor
GenericName[es]=Configuración del Monitor
Comment[es]=Configuración de los monitores
Name[et]=Ekraan
GenericName[et]=Ekraani seadistused
Comment[et]=Seadista ekraane ja monitore
Name[fi]=Näyttö
GenericName[fi]=Näytön asetukset
Comment[fi]=Määritä näytöt
Name[fr]=Écran
GenericName[fr]=Paramètres de l'écran
Comment[fr]=Configurer les écrans
Name[gl]=Configuración do monitor
GenericName[gl]=Configuración do monitor
Comment[gl]=Configuración dos monitores
Name[he]=צג
GenericName[he]=הגדרות צג
Comment[he]=הגדרת צגים
Name[hr]=Monitor
GenericName[hr]=Postavke monitora
Comment[hr]=Konfiguriraj monitore
Name[hu]=Monitorok
GenericName[hu]=Monitorok beállítása
Comment[hu]=Monitorok beállítása
Name[it]=Monitor
GenericName[it]=Impostazioni dei monitor
Comment[it]=Configura la risoluzione e i monitor esterni
Name[ja]=モニター
GenericName[ja]=モニターの設定
Comment[ja]=モニターを設定します
Name[ka]=ეკრანი
GenericName[ka]=ეკრანის მორგება
Comment[ka]=მოირგეთ ეკრანები
Name[kk]=Монитор баптаулары
GenericName[kk]=Монитор баптаулары
Comment[kk]=Мониторларды баптау
Name[ko]=모니터
GenericName[ko]=모니터 설정
Comment[ko]=모니터를 구성합니다
Name[lg]=Eby'entimbe
GenericName[lg]=Enteekateeka za ntimbe
Comment[lg]=Teekateeka ntimbe
Name[lt]=Monitorius
GenericName[lt]=Monitoriaus nustatymai
Comment[lt]=Konfigūruoti monitorius
Name[nb_NO]=Skjerm
GenericName[nb_NO]=Skjerminnstillinger
Comment[nb_NO]=Sett opp skjermer
Name[nl]=Beeldscherm
GenericName[nl]=Beeldscherminstellingen
Comment[nl]=Stel uw beeldschermen in
Name[oc]=Ecran
GenericName[oc]=Paramètres de l’ecran
Comment[oc]=Configurar los ecrans
Name[pa]=ਮਾਨੀਟਰ
GenericName[pa]=ਮਾਨੀਟਰ ਸੈਟਿੰਗਾਂ
Comment[pa]=ਮਾਨੀਟਰਾਂ ਦੀ ਸੰਰਚਨਾ ਕਰੋ
Name[pl]=Monitor
GenericName[pl]=Ustawienia monitora
Comment[pl]=Konfiguracja monitora
Name[pt]=Monitor
GenericName[pt]=Definições do Monitor
Comment[pt]=Configuração de monitores
Comment[ru]=Настроить мониторы
Name[ru]=Монитор
GenericName[ru]=Настройки монитора
Name[sk]=Nastavenia obrazovky
GenericName[sk]=Nastavenia obrazovky
Comment[sk]=Nastaviť obrazovky
Name[sl]=Nastavitve zaslona
GenericName[sl]=Nastavitve zaslona
Comment[sl]=Nastavi zaslone
Name[tr]=Ekran
GenericName[tr]=Ekran Ayarları
Comment[tr]=Ekranları yapılandır
Name[uk]=Монітор
GenericName[uk]=Налаштування монітора
Comment[uk]=Налаштувати монітори
Name[vi]=Cài đặt Màn hình
GenericName[vi]=Cài đặt Màn hình
Comment[vi]=Tinh chỉnh màn hình
Name[zh_CN]=监视器
GenericName[zh_CN]=监视器设置
Comment[zh_CN]=配置监视器
Comment[zh_TW]=設定螢幕
GenericName[zh_TW]=螢幕設定
Name[zh_TW]=LXQt螢幕設定
NoDisplay=true
