[Desktop Entry]
Type=Application
Exec=lxqt-config-locale
Icon=preferences-desktop-locale
Categories=Settings;DesktopSettings;Qt;LXQt;
OnlyShowIn=LXQt;

Name=Locale
GenericName=Locale Settings
Comment=Configure language, time format and other language related settings
Name[ar]=المحليّة
GenericName[ar]=الإعدادات المحليّة
Comment[ar]=اعداد اللغة والوقت والإعدادات الأخرى المتعلقة باللغة
Name[bg]=Език и регион
GenericName[bg]=Настройване на езика и регионални стандарти
Comment[bg]=Настройване на език, формата на час, дата и други регионални стандарти
Name[ca]=Configuració regional
GenericName[ca]=Ajusts de la configuració regional
Comment[ca]=Configureu la llengua, el format de l'hora i altres paràmetres relacionats
Name[cs]=Místní nastavení
GenericName[cs]=Místní nastavení
Comment[cs]=Místní nastavení pro LXQt
Name[da]=Lokalitet
GenericName[da]=Lokalitetsindstillinger
Comment[da]=Indstil sprog, tidsformat og andre sprogrelaterede indstillinger
Name[de]=Regionaleinstellungen
GenericName[de]=Regionaleinstellungen
Comment[de]=Konfiguration von Sprache, Zeitformat und anderen sprachbezogenen Einstellungen
Name[el]=Τοπικότητα
GenericName[el]=Ρυθμίσεις τοπικότητας
Comment[el]=Διαμόρφωση γλώσσας, μορφής ώρας και άλλες ρυθμίσεις σε σχέση με τη γλώσσα
Name[es]=Configuración regional
GenericName[es]=Configuración Regional
Comment[es]=Configurar el idioma, el formato de hora y otros ajustes relacionados con el idioma
Name[et]=Lokaat
GenericName[et]=Lokaadi seadistused
Comment[et]=Seadista LXQt keelt, kellaaja vormingut ja muud lokaadikohast
Name[fi]=Maa-asetukset
GenericName[fi]=Maa-asetukset
Comment[fi]=Määritä kieli, aikaformaatti ja muut kieliasetukset
Name[fr]=Région
GenericName[fr]=Paramètres régionaux
Comment[fr]=Configurer la langue, le format de l'heure et d'autres paramètres liés à la langue
Name[gl]=Configuración rexional
GenericName[gl]=Configuración rexional
Comment[gl]=Configuración rexional do LXQt
Name[he]=תצורת מיקום
GenericName[he]=הגדרות מקומיות
Comment[he]=הגדרת שפה, תבנית שעון והגדרות אחרות שקשורות בשפה
Name[hr]=Jezik
GenericName[hr]=Postavke jezika
Comment[hr]=Konfiguriraj jezik, format vremena i druge postavke u vezi s jezikom
Name[hu]=Területi beállítás
GenericName[hu]=Területi beállítások
Comment[hu]=Területi beállítások az LXQt-hoz
Name[it]=Lingua e Paese
GenericName[it]=Preferenze della lingua e del paese
Comment[it]=Configura la lingua, il formato dell'ora e altre impostazioni relative alla lingua
Name[ja]=地域
GenericName[ja]=地域の設定
Comment[ja]=言語、時刻形式、およびその他の言語関連を設定します
Name[ka]=ენა
GenericName[ka]=ენის მორგება
Comment[ka]=მოირგეთ ენა, დროის ფორმატი და სხვა ენასთან დაკავშირებული პარამეტრები
Name[ko]=로케일
GenericName[ko]=로케일 설정
Comment[ko]=언어, 시간 형식 및 기타 언어 관련 설정을 구성합니다
Name[lg]=Lokale
GenericName[lg]=Enteekateeka za lokale
Comment[lg]=Teekateeka olulimi olukozesebwa, empandika y'obudde n'ebirala ebikwata ku bya lulimi
Name[lt]=Lokalė
GenericName[lt]=Lokalės nustatymai
Comment[lt]=Konfigūruoti kalbą, laiko formatą ir kitus su kalba susijusius nustatymus
Name[nb_NO]=Språk
GenericName[nb_NO]=Lokalitetsinnstillinger
Comment[nb_NO]=Innstillinger for språk, tidsformat og annet språkrelatert
Name[nl]=Taal
GenericName[nl]=Taalinstellingen
Comment[nl]=Stel de taal, tijd en andere taalgerelateerde instellingen in
Name[oc]=Lenga
GenericName[oc]=Paramètres lingüistics
Comment[oc]=Configurar la lenga, lo format d’ora e d’autres paramètres ligats a la lenga
Name[pa]=ਲੋਕੇਲ
GenericName[pa]=ਲੋਕੇਲ ਸੈਟਿੰਗਾਂ
Comment[pa]=ਭਾਸ਼ਾ, ਸਮਾਂ ਫਾਰਮੈਟ ਤੇ ਹੋਰ ਭਾਸ਼ਾ ਸੰਬੰਧੀ ਸੈਟਿੰਗਾਂ ਦੀ ਸੰਰਚਨਾ ਕਰੋ
Name[pl]=Region i język
GenericName[pl]=Ustawienia regionalne
Comment[pl]=Konfigurowanie języka, formatu godziny i innych ustawień związanych z językiem
Name[pt]=Idiomas
GenericName[pt]=Definições de Idioma
Comment[pt]=Configurar o idioma, o formato da hora e outras definições relacionadas com o idioma
Name[ru]=Локаль
GenericName[ru]=Настройки локали
Comment[ru]=Настроить язык, формат времени и другие параметры связанные с языком
Name[sk]=Miestne a jazykové nastavenia
GenericName[sk]=Miestne a jazykové nastavenia
Comment[sk]=Miestne a jazykové nastavenia LXQt
Name[sl]=Območje
GenericName[sl]=Območne nastavitve
Comment[sl]=Območne nastavitve za LXQt
Name[tr]=Yerel
GenericName[tr]=Yerel Ayarlar
Comment[tr]=Dil, saat biçimi ve dille ilgili diğer ayarları yapılandır
Name[uk]=Локаль
GenericName[uk]=Налаштування локалі
Comment[uk]=Налаштування мови, формату часу та пов'язаних мовних параметрів
Name[vi]=Vị trí
GenericName[vi]=Cài đặt Vị trí
Comment[vi]=Cài đặt Vị trí cho LXQt
Name[zh_CN]=区域
GenericName[zh_CN]=区域设置
Comment[zh_CN]=配置 LXQt 的区域
NoDisplay=true
