[Desktop Entry]
Exec=lxqt-config-brightness
Terminal=false
Type=Application
Icon=brightnesssettings
Categories=Settings;DesktopSettings;Qt;LXQt;HardwareSettings;
OnlyShowIn=LXQt;

Name=Brightness
GenericName=Brightness Settings
Comment=Adjust backlight and brightness
Name[ar]=إعدادات السّطوع
GenericName[ar]=إعدادات السطوع
Comment[ar]=ضبط الإضاءة الخلفية والسطوع
Name[bg]=Осветеност на екрана
GenericName[bg]=Настройки на контраст и яркост
Comment[bg]=Настройки на контраст и яркост
Name[ca]=Brillantor
GenericName[ca]=Ajusts de la brillantor
Comment[ca]=Ajusteu la llum de fons i la brillantor
Name[cs]=Podsvícení a jas
GenericName[cs]=Nastavení podsvícení a jasu
Comment[cs]=Nastavit podsvícení a jas
Name[da]=Lysstyrke
GenericName[da]=Lysstyrkeindstillinger
Comment[da]=Juster baggrundsbelysning og lysstyrke
Name[de]=Helligkeit
GenericName[de]=Einstellungen der Helligkeit
Comment[de]=Anpassen der Hintergrundbeleuchtung und Helligkeit
Name[el]=Φωτεινότητα
GenericName[el]=Ρυθμίσεις φωτεινότητας
Comment[el]=Ρύθμιση οπίσθιου φωτισμού και φωτεινότητας
Name[es]=Brillo
GenericName[es]=Configuración del brillo
Comment[es]=Ajustar la retroiluminación y el brillo
Name[et]=Heledus
GenericName[et]=Heleduse seadistused
Comment[et]=Kohenda LXQt ekraani ja klaviatuuri heledust
Name[fi]=Kirkkaus
GenericName[fi]=Kirkkausasetukset
Comment[fi]=Määritä taustavalo ja kirkkaus
Name[fr]=Paramètres de luminosité
GenericName[fr]=Paramètres de luminosité de l'écran
Comment[fr]=Ajuster le rétroéclairage et la luminosité
Name[gl]=Brillo
GenericName[gl]=Configuración do brillo
Comment[gl]=Configuración do brillo
Name[he]=בהירות
GenericName[he]=הגדרות בהירות
Comment[he]=כוונון התאורה האחורית והבהירות
Name[hr]=Svjetlina
GenericName[hr]=Postavke svjetline
Comment[hr]=Podesi pozadinsko osvjetljenje i svjetlinu
Name[hu]=Fényerő
GenericName[hu]=Fényerő beállítások
Comment[hu]=A monitor fényerejének beállítása
Name[it]=Luminosità
GenericName[it]=Impostazioni di luminosità
Comment[it]=Imposta la luminosità e la retroilluminazione dello schermo
Name[ja]=明るさ
GenericName[ja]=明るさの設定
Comment[ja]=バックライトと明るさを調整します
Name[ka]=სიკაშკაშე
GenericName[ka]=სიკაშკაშის მორგება
Comment[ka]=სიკაშკაშის და განათების მორგება
Name[ko]=밝기
GenericName[ko]=밝기 설정
Comment[ko]=백라이트와 밝기를 조정합니다
Name[lg]=Kwakayakana
GenericName[lg]=Enteekateeka ez'okwakayakana
Comment[lg]=Teekateeka enkola n'okwakayakana kw'ekimulisa olutimbe
Comment[lt]=Reguliuoti foninį apšvietimą ir ryškumą
GenericName[lt]=Ryškumo nustatymai
Name[lt]=Ryškumas
Name[nb_NO]=Lysstyrke
GenericName[nb_NO]=Lysstyrkeinnstillinger
Comment[nb_NO]=Sett opp lysstyrke
Name[nl]=Helderheid
GenericName[nl]=Helderheidsinstellingen
Comment[nl]=Stel de helderheid en achtergrondverlichting in
Name[oc]=Luminositat
GenericName[oc]=Paramètres de luminositat
Comment[oc]=Ajustar la luminositat e lo contraste de l’ecran
Name[pa]=ਚਮਕ
GenericName[pa]=ਚਮਕ ਸੈਟਿੰਗਾਂ
Comment[pa]=ਬੈਕਲਾਈਟ ਤੇ ਚਮਕ ਨੂੰ ਅਡਜੱਸਟ ਕਰੋ
Name[pl]=Ustawienia jasności
GenericName[pl]=Ustawienia jasności wyświetlacza
Comment[pl]=Dostosowanie podświetlenia i jasności
Name[pt]=Brilho
GenericName[pt]=Definições de brilho
Comment[pt]=Ajustar a retroiluminação e o brilho
Comment[ru]=Настраивайте подсветку и яркость
GenericName[ru]=Настройки яркости
Name[ru]=Яркость
Name[sk]=Jas obrazovky
GenericName[sk]=Nastavenia jasu obrazovky
Comment[sk]=Nastaviť jas obrazovky
Name[tr]=Parlaklık
GenericName[tr]=Parlaklık Ayarları
Comment[tr]=Arka ışığı ve parlaklığı ayarla
Name[uk]=Яскравість
GenericName[uk]=Налаштування яскравості
Comment[uk]=Налаштуйте підсвічування та яскравість
Name[vi]=Độ sáng
GenericName[vi]=Cài đặt Độ sáng
Comment[vi]=Tinh chỉnh Độ sáng
Name[zh_CN]=亮度
GenericName[zh_CN]=亮度设置
Comment[zh_CN]=配置背光与亮度
NoDisplay=true
