[Desktop Entry]
Type=Application
Exec=lxqt-config-notificationd
Icon=preferences-desktop-notification
Categories=Settings;DesktopSettings;Qt;LXQt;
OnlyShowIn=LXQt;

Name=Notifications
GenericName=Notification Settings
Comment=Configure position, duration, 'Do not disturb' and more
GenericName[ar]=إعدادات الإشعار
Name[ar]=إشعارات
Comment[ar]=قم باعداد الموضع والمدة و\"عدم الإزعاج\" والمزيد
Name[bg]=Известявания
GenericName[bg]=Настройки на известявания
Comment[bg]=Конфигуриране на известяванията: позиция, продължителност и допълнителни настройки
Name[ca]=Notificacions
GenericName[ca]=Ajusts de les notificacions
Comment[ca]=Configureu la posició, la durada, la funció de no molestar i més coses
GenericName[cs]=Nastavení oznamování v LXQt
Name[cs]=Oznamování v LXQt
Comment[cs]=Nastavit oznamování na ploše
Name[da]=Påmindelser
GenericName[da]=Indstillinger for påmindelser
Comment[da]=Indstil position, varighed, 'Forstyr ikke' og mere
Name[de]=Mitteilungen
GenericName[de]=Mitteilungseinstellungen
Comment[de]=Konfiguration der Position, Dauer, von „Bitte nicht stören“ und mehr
Name[el]=Ειδοποιήσεις
GenericName[el]=Ρυθμίσεις ειδοποιήσεων
Comment[el]=Διαμόρφωση θέσης, διάρκειας, «Μην ενοχλείτε» και άλλα
GenericName[eo]=Agordoj de muso por LXQto
Name[eo]=Agordoj de muso por LXQto
Comment[eo]=Agordi atentigojn de freedesktop en LXQt-labortablo
Name[es]=Notificaciones
GenericName[es]=Configuración de las notificaciones
Comment[es]=Configurar posición, duración, 'No molestar' y más
GenericName[es_VE]=Configuración de notificaciones de Escritorio LXQt
Name[es_VE]=Configuración de notificaciones de Escritorio LXQt
Comment[es_VE]=Configura las notificacones en el Escritoro LXQt
Name[et]=Teavitused
GenericName[et]=LXQt teavituste seadistused
Comment[et]=Seadista teavituste asukohta, kestust, „ära sega mind“ olekuid ja palju muud
GenericName[eu]=LXQt Freedesktop jakinarazpenen konfigurazioa
Name[eu]=LXQt Freedesktop jakinarazpenen konfigurazioa
Comment[eu]=Konfiguratu LXQt mahaigaineko Freedesktop jakinarazpenak
GenericName[fi]=Ilmoitusasetukset
Name[fi]=Ilmoitukset
Comment[fi]=Määritä sijainti, kesto, 'Älä häiritse' ja paljon muuta
Name[fr]=Notifications
GenericName[fr]=Paramètres des notifications
Comment[fr]=Configurer la position, la durée, le mode 'Ne pas déranger' et plus encore
Name[gl]=Notificacións do escritorio
GenericName[gl]=Configuración das notificacións do LXQt
Comment[gl]=Configurar as notificacións do escritorio
Name[he]=התראות
GenericName[he]=הגדרות התראה
Comment[he]=הגדרת מקום, משך, ‚לא להפריע’ ועוד
Name[hr]=Obavijesti
GenericName[hr]=Postavke obavijesti
Comment[hr]=Konfiguriraj položaj, trajanje, „Ne smetaj” i još više
GenericName[hu]=Az LXQt értesítések beállítása
Name[hu]=Értesítések
Comment[hu]=Asztali értesítések beállítása
GenericName[it]=Impostazioni delle notifiche
Name[it]=Notifiche
Comment[it]=Configura posizione, durata, 'Non disturbare' e altro
Name[ja]=通知
GenericName[ja]=通知の設定
Comment[ja]=位置、表示時間、サイレント等を設定します
Name[kk]=Жұмыс үстеліндегі хабарламалар
GenericName[kk]=LXQt хабарламалар баптаулары
Comment[kk]=Жұмыс үстел хабарламаларын баптау
Name[ko]=알림
GenericName[ko]=알림 설정
Comment[ko]=위치, 시간, '방해 금지 모드' 등을 구성합니다
Name[lg]=Obubaka
GenericName[lg]=Enteekateeka ez'obubaka
Comment[lg]=Teekateeka endaga ya bubaka, we bulabikira, ebbanga lye bumala nga bulabika n'ebirala
GenericName[lt]=Pranešimų nustatymai
Name[lt]=Pranešimai
Comment[lt]=Konfigūruoti poziciją, trukmę, „Netrukdymo“ veikseną ir kt.
Name[nb_NO]=Varsler
GenericName[nb_NO]=Varslingsinnstillinger
Comment[nb_NO]=Still inn posisjon, varighet, 'Ikke forstyrr' og mer
GenericName[nl]=Meldingsinstellingen
Name[nl]=Meldingen
Comment[nl]=Stel de meldingsduur en -locatie en niet storen in
Name[oc]=Notificacions
GenericName[oc]=Paramètres de las notificacion
Comment[oc]=Configurar l’emplaçament, la durada, lo mòde « Destorbar pas » e encara mai
Name[pa]=ਨੋਟੀਫਿਕੇਸ਼ਨ
GenericName[pa]=ਨੋਟੀਫਿਕੇਸ਼ਨ ਸੈਟਿੰਗਾਂ
Comment[pa]=ਡੈਸਕਟਾਪ ਨੋਟੀਫਿਕੇਸ਼ਨਾਂ ਦੀ ਸੰਰਚਨਾ
Name[pl]=Powiadomienia
GenericName[pl]=Ustawienia powiadomień
Comment[pl]=Konfigurowanie położenia, czasu trwania, opcji „Nie przeszkadzać” i innych
Name[pt]=Notificações
GenericName[pt]=Definições de Notificações
Comment[pt]=Configurar posição, duração, 'Não incomodar' e muito mais
GenericName[pt_BR]=Configurações das Notificações LXQt
Name[pt_BR]=Notificações
Comment[pt_BR]=Configurar as notificações da área de trabalho do LXQt
GenericName[ro]=Părăsește
Name[ro]=Părăsește sistemul
Comment[ro]=Configurează notificările freedesktop în desktop-ul LXQt
GenericName[ru]=Настройки уведомлений
Name[ru]=Уведомления
Comment[ru]=Настроить расположение и продолжительность показа уведомлений, режима «не беспокоить» и другое
Name[sk]=Oznamy pracovnej plochy
GenericName[sk]=Nastavenia oznamov LXQt
Comment[sk]=Nastaviť oznamy pracovnej plochy
GenericName[sl]=Nastavitve obvestil
Name[sl]=Nastavitve obvestil na namizju
Comment[sl]=Nastavite obvestila na namizju LXQt
GenericName[sr@latin]=Automatsko suspendovanje
Name[sr@latin]=Upravljanje napajanjem
GenericName[th_TH]=การตั้งค่าการเตือนต่างๆ ของ LXQt Freedesktop
Name[th_TH]=การตั้งค่าการเตือนต่างๆ ของ LXQt Freedesktop
Comment[th_TH]=ตั้งค่าการเตือนต่างๆ ของ freedesktop ในเดสก์ท็อป LXQt
Name[tr]=Bildirimler
GenericName[tr]=Bildirim Ayarları
Comment[tr]=Konumu, süreyi, 'Rahatsız etmeyin' seçeneğini ve daha fazlasını yapılandırın
GenericName[uk]=Налаштування сповіщень
Name[uk]=Сповіщення
Comment[uk]=Налаштування положення, тривалості, «Не турбувати» та багато іншого
Name[vi]=Thông báo Bàn làm việc
GenericName[vi]=Cài đặt Thông báo LXQt
Comment[vi]=Tinh chỉnh thông báo bàn làm việc
GenericName[zh_CN]=LXQt 通知配置
Name[zh_CN]=桌面通知
Comment[zh_CN]=配置位置、持续时间、“请勿打扰”等
GenericName[zh_TW]=LXQt 通知設定
Name[zh_TW]=桌面通知
Comment[zh_TW]=設定桌面通知
NoDisplay=true
