[Desktop Entry]
Name=GBC [mGBA]
Comment=Game Boy Color Emulator
Exec=/usr/local/games/mgba/mgba-qt
Icon=mgba
Terminal=false
Type=Application
Categories=X-Nintendo;
