[Desktop Entry]
Name=N64 [Mupen64Plus]
Comment=Nintendo 64 Emulator
Exec=/usr/local/games/mupen64plus/mupen64plus --corelib /usr/local/games/mupen64plus/libmupen64plus.so.2.0.0 --plugindir /usr/local/games/mupen64plus
Icon=mupen64plus
Terminal=false
Type=Application
Categories=X-Nintendo;
