[Desktop Entry]
Name=PicoDrive
Comment=Sega Genesis/Mega Drive Emulator
Exec=/usr/local/games/picodrive/picodrive
Icon=picodrive
Terminal=false
Type=Application
Categories=Emulator;
